{namespace mcf=MC\Forum\ViewHelpers}

<f:layout name="Default"/>

<f:section name="Title">{subforum.name}</f:section>

<f:section name="Content">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{subforum.name}</h3>
        </div>
        <div class="panel-body">
            <table class="table dtTable">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Beitr&auml;ge</th>
                    <th>Letzter Post</th>
                </tr>
                </thead>
                <tbody>
                <f:for each="{subforum.topics}" as="topic">
                    <tr>
                        <td>
                            <f:link.action action="index" controller="topic" arguments="{topic:topic}">{topic.name}
                            </f:link.action>
                        </td>
                        <td>
                            <f:count>{topic.posts}</f:count>
                        </td>
                        <td>
                            <f:for each="{topic.posts}" as="post" iteration="postIterator">
                                <f:if condition="{postIterator.isFirst}">
                                    vor {post.timestamp  -> mcf:timeDiff()}
                                </f:if>
                            </f:for>
                        </td>
                    </tr>
                </f:for>
                </tbody>
            </table>
        </div>
    </div>
    <f:link.action class="btn btn-primary" action="newTopic" controller="topic" arguments="{subforum:subforum}">
        New Topic
    </f:link.action>
</f:section>