<!DOCTYPE html>
{namespace mcf=MC\Forum\ViewHelpers}
<html>
<head>
    <link rel="manifest" href="{f:uri.resource(path: 'manifest/manifest.json')}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="author" content="Michel Ferreira Ribeiro">

    <title>
        <f:render section="Title"/>
    </title>

    <!--    WEBAPP      -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Chrome, Firefox OS, Opera and Vivaldi -->
    <meta name="theme-color" content="#00467f">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#00467f">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#00467f">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!--CSS-->
    <link rel='stylesheet' href="{f:uri.resource(path: '/css/bootstrap.min.css')}"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs/jq-2.2.3/dt-1.10.12/r-2.1.0/datatables.min.css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{f:uri.resource(path: '/css/custom.css')}"/>

    <!--JS-->
    <script src="{f:uri.resource(path: '/js/pace.min.js')}"></script>
    <script src="{f:uri.resource(path: '/js/jquery.js')}"></script>
    <script src="{f:uri.resource(path: '/js/bootstrap.min.js')}"></script>
    <script src="{f:uri.resource(path: '/tinymce/tinymce.min.js')}"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/bs/jq-2.2.3/dt-1.10.12/r-2.1.0/datatables.min.js"></script>
    <script src="{f:uri.resource(path: '/js/custom.js')}"></script>

    <script>
        tinymce.init({
            selector: 'textarea',
            skin: "darkskin",
            menubar: false,
            plugins: 'link image code autoresize autolink autosave imagetools lists hr'
        });
    </script>

    <f:base/>
</head>

<body background="{f:uri.resource(path: '/img/bg.png')}">
<f:security.ifAuthenticated>
    <nav class="navbar navbar-default navbar-fixed-top navbar-offset">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/mc.forum/forum">
                    MC.Forum -
                    <f:render section="Title"/>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav nabar-left">
                    <li>
                        <f:link.action action="index" controller="Usercp">User-CP</f:link.action>
                    </li>
                    <li>
                        <f:link.action action="index" controller="User">Mitglieder</f:link.action>
                    </li>
                    <f:if condition="{user.role} == 'Administrator'">
                        <f:then>
                            <li>
                                <f:link.action action="index" controller="admin">Administration</f:link.action>
                            </li>
                        </f:then>
                    </f:if>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            {account.accountIdentifier}
                            <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <f:link.action action="show" controller="User" arguments="{account:account}">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                    - Show Profile
                                </f:link.action>
                                <f:link.action action="index" controller="Conversation" arguments="{account:account}">
                                    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                    - Show Messages
                                    <span class="badge">{user.receivedMessages -> f:count()}</span></f:link.action>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <f:link.action action="logout" controller="Login">Logout</f:link.action>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</f:security.ifAuthenticated>

<div class="container scrollable">
    <f:flashMessages class="flashmessages alert-default"/>
    <f:render section="Content"/>
</div>
<div id="copyright">© 2016 - Michel Ribeiro</div>
<br>
<br>
</body>
</html>