/*
 * Copyright (c) Michel Ferreira Ribeiro 2016
 */

.Flow-Error-Debugger-VarDump {
	display: block;
	text-align: left;
	background: #b9b9b9;
	border: 10px solid #b9b9b9;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 0px 20px #333;
	-webkit-box-shadow: 0px 0px 20px #333;
	box-shadow: 0px 0px 20px #333;
	z-index: 999;
	margin: 20px 0 0 0;
	color: black;
}

.Flow-Error-Debugger-VarDump-Inline {

}

.Flow-Error-Debugger-VarDump-Floating {
	float: left;
	position: relative;
	left: 150px;
	width: 80%;
}

.Flow-Error-Debugger-VarDump-Top {
	background: #eee;
	font: normal bold 12px "Lucida Grande", sans-serif;
	padding: 5px;
}

.Flow-Error-Debugger-VarDump-Center {
	-webkit-background-size: 36px 36px;
	-moz-background-size: 36px 36px;
	background-size: 36px 36px;
	background-position: 0 -18px;
	background-color: #cfe1cd;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, 1)), color-stop(.5, transparent), to(transparent));
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 1) 50%, transparent 50%, transparent);
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 1) 50%, transparent 50%, transparent);
	background-image: -ms-linear-gradient(rgba(255, 255, 255, 1) 50%, transparent 50%, transparent);
	background-image: -o-linear-gradient(rgba(255, 255, 255, 1) 50%, transparent 50%, transparent);
	background-image: linear-gradient(rgba(255, 255, 255, 1) 50%, transparent 50%, transparent);

	font: normal normal 11px/18px Monospaced, "Lucida Console", monospace;
	padding: 18px 10px;
}

.Flow-Error-Debugger-VarDump-Center pre {
	margin: 0;
	background-color: transparent;
}

.Flow-Error-Debugger-VarDump-Center, .Flow-Error-Debugger-VarDump-Center pre, .Flow-Error-Debugger-VarDump-Center p, .Flow-Error-Debugger-VarDump-Center a, .Flow-Error-Debugger-VarDump-Center strong, .Flow-Error-Debugger-VarDump-Center .debug-string{
	font: normal normal 11px/18px Monospaced, "Lucida Console", monospace;
}

.Flow-Error-Debugger-VarDump-Center .debug-string {
	color: black;
}

.Flow-Error-Debugger-VarDump-Center .debug-object {
	color: #004fb0;
	padding: 0px 4px;
}

.Flow-Error-Debugger-VarDump-Center .debug-unregistered {
	background-color: #dce1e8;
}

.Flow-Error-Debugger-VarDump-Center .debug-scope, .Flow-Error-Debugger-VarDump-Center .debug-ptype, .Flow-Error-Debugger-VarDump-Center .debug-proxy, .Flow-Error-Debugger-VarDump-Center .debug-filtered {
	color: white;
	font-size: 10px;
	line-height: 16px;
	padding: 1px 4px;
}

.Flow-Error-Debugger-VarDump-Center .debug-scope {
	background-color: #3e7fe1;
}

.Flow-Error-Debugger-VarDump-Center .debug-ptype {
	background-color: #87cd3b;
}

.Flow-Error-Debugger-VarDump-Center .debug-proxy {
	background-color: #b0000a;
}

.Flow-Error-Debugger-VarDump-Center .debug-filtered {
	background-color: #8c8c8c;
}

.Flow-Error-Debugger-VarDump-Center .debug-seeabove {
	text-decoration: none;
	font-style: italic;
	font-weight: normal;
}

.Flow-Error-Debugger-VarDump-Center .debug-property {
	color: #555555;
	line-height: 16px;
	padding: 1px 2px;
}