{namespace mcf=MC\Forum\ViewHelpers}

<f:layout name="Default"/>
<f:section name="Title">Conversations</f:section>
<f:section name="Content">
    <div class="chat_container">
        <div class="col-sm-3 chat_sidebar">
            <div class="row">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="  search-query form-control" placeholder="Conversation"/>
                        <button class="btn btn-danger" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
                <div class="member_list">
                    <ul class="list-unstyled" href="">
                        <f:for each="{conversations}" as="conversation">
                            <f:link.action action="index" arguments="{conversationPartner:conversation}">
                                <li class="left clearfix">
                                    <span class="chat-img pull-left"><img src="https://placehold.it/50x50" alt="User Avatar"
                                                                          class="img-circle"></span>
                                    <div class="chat-body clearfix">
                                        <div class="header_sec">
                                            <strong class="primary-font">{conversation.name}</strong> <strong class="pull-right">
                                            TIME</strong>
                                        </div>
                                        <div class="contact_sec">
                                            <strong class="primary-font">subtext</strong> <span class="badge pull-right">x</span>
                                        </div>
                                    </div>
                                </li>
                            </f:link.action>
                        </f:for>
                    </ul>
                </div>
            </div>
        </div>
        <!--chat_sidebar-->
        <div class="col-sm-9 message_section">
            <div class="row">
                <div class="new_message_head">
                    <div class="pull-left">
                        Chat with: {conversationPartner.name}
                    </div>
                </div><!--new_message_head-->
                <div class="chat_area">
                    <ul class="list-unstyled">
                        <f:for each="{messages}" as="message">
                            <f:if condition="{message.receiver} == {user}">
                                <f:then>
                                    <!--LEFT-->
                                    <li class="left clearfix">
                                        <f:link.action action="show" controller="User" arguments="{account:message.creator.account}">
                                            <span class="chat-img1 pull-left">
                                                <img src="{f:uri.resource(resource: message.creator.profileImage)}"
                                                     alt="User Avatar" class="img-circle">
                                            </span>
                                        </f:link.action>
                                        <div class="chat-body1 clearfix">
                                            {message.content -> f:format.raw()}
                                            <div class="chat_time pull-right">vor {message.timestamp -> mcf:timeDiff()}</div>
                                        </div>
                                    </li>
                                </f:then>
                                <f:else>
                                    <!--right-->
                                    <li class="left clearfix admin_chat">
                                        <f:link.action action="show" controller="User" arguments="{account:message.creator.account}">
                                            <span class="chat-img1 pull-right">
                                                <img src="{f:uri.resource(resource: message.creator.profileImage)}" alt="User Avatar"
                                                     class="img-circle">
                                            </span>
                                        </f:link.action>
                                        <div class="chat-body1 clearfix">
                                            {message.content -> f:format.raw()}
                                            <div class="chat_time pull-left">vor {message.timestamp -> mcf:timeDiff()}</div>
                                        </div>
                                    </li>
                                </f:else>
                            </f:if>
                        </f:for>
                    </ul>
                </div><!--chat_area-->
                <f:form action="createNewMessage" controller="Message" objectName="newMessage" arguments="{receiver:user}">
                    <div class="message_write">
                        <div class="input-group">
                            <f:form.textfield type="text" property="content" class="form-control" placeholder="Reply"/>
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                </f:form>
            </div>
        </div> <!--message_section-->
    </div>
</f:section>