html, body {
    color: white;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 44px;
    display: table;
}

#form > div {
    margin-bottom: 25px;
}

.panel-shout > .panel-heading {
    color: #ffffff;
    background-color: #00A5FF;
    border-color: #00A5FF;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#form > div:last-child {
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel {
    background-color: transparent;
}

.panel-body {
    background-color: rgb(34, 34, 34);
}

#particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -2;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 3;
    color: #ffffff;
    background-color: #375A7F;
    border-color: transparent;
    cursor: default;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #ffffff;
    background-color: #28415B;
    border-color: transparent;
    cursor: not-allowed;
}

a {
    color: #fdf4ff;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #00397E;
    text-decoration: underline;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #272727;
    border-top: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.pace {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #00397E;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 4px;
}

div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: center;
}

input,
textarea {
    color: #ffffff;
}

blockquote {
    padding-left: 4px;
    border-left: 2px solid gray;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

.hovereffect:hover img {
    -webkit-filter: grayscale(1) blur(3px);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.hovereffect h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    border: 1px solid #fff;
    margin: 50px 0 0 0;
    background-color: transparent;
}

.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}

.hovereffect a.info,
.hovereffect h2 {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    opacity: 0;
    filter: alpha(opacity=0);
    color: #fff;
    text-transform: uppercase;
}

.hovereffect:hover a.info,
.hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.kv-avatar .file-preview-frame,
.kv-avatar .file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}

.kv-avatar .file-input {
    display: table-cell;
    max-width: 220px;
}

#copyright {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    background: rgba(0, 0, 0, 0.20);
}

.centerized {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar-default {
    width: 100%;
    background: black;
    border-bottom: thick solid #00467f;
    top: 0;
}

.panel-primary > .panel-heading {
    color: #ffffff;
    background-color: #0043A6;
    border-color: #0043A6;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 1px;
    border: solid #00467f;
    background-color: rgba(0, 0, 0, 0.87);
}

.panel-body {
    padding-top: 30px;
    background-color: rgba(0, 0, 0, 0.71);
    border-color: #0043A6;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-button {
    width: 40px;
    height: 40px;
}

::-webkit-scrollbar-thumb {
    background: #00467f;
    border: none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #004bbb;
}

::-webkit-scrollbar-thumb:active {
    background: #00347b;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.33);
    border: none;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: rgba(0, 0, 0, 0.33);
}

::-webkit-scrollbar-track:active {
    background: rgba(0, 0, 0, 0.33);
}

::-webkit-scrollbar-corner {
    background: transparent;
}

/*ChatView*/
.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #002850;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
    color: #ffffff;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.text-muted {
    color: rgba(255, 255, 255, 0.68);
}

.panel-footer {
    padding: 10px 15px;
    background-color: rgb(0, 26, 52);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.panel-default > .panel-heading {
    background-color: #001a34;
    border: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.panel {
    border: none;
}

.modal-footer {
    background-color: #001a34;
    padding: 20px;
    text-align: right;
    border-top: none;
}

.modal {
    background-color: rgba(0, 0, 0, 0.59);
}

.modal-body {
    position: relative;
    padding: 20px;
    background-color: rgba(0, 26, 52, 0.59);
}

.modal-header {
    padding: 15px;
    border-bottom: none;
    background-color: rgba(0, 26, 52, 0.59);
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.84);
    border: 2px solid #001a34;
    border-bottom-color: transparent;
    cursor: default;
}

.nav-tabs > li > a:hover {
    background-color: rgb(0, 4, 11);
}

.nav-tabs > li > a,
.nav-pills > li > a {
    color: #fff;
    background-color: rgb(0, 34, 101);
}

.nav-tabs {
    border-bottom: 1px solid rgb(0, 34, 101);
}

.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
    background-color: rgba(0, 34, 101, 0.54);
}

h1 > small {
    font-weight: normal;
    line-height: 1;
    color: rgba(0, 84, 255, 0.73);
}

.btn-danger {
    background-color: #ff0d00;
    border-color: #ff0d00;
}

.btn-warning {
    background-color: #ff8d00;
    border-color: #ff8d00;
}

.btn-primary {
    background-color: #0087ba;
    border-color: #0087ba;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: rgb(0, 59, 157);
}

.label-primary {
    background-color: rgb(0, 59, 157);
}

/*ChatView*/
#custom-search-input {
    background: rgba(0, 26, 52, 0.84) none repeat scroll 0 0;
    margin: 0;
    padding: 10px;
}

#custom-search-input .search-query {
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    color: white;
    border-radius: 4px;
    height: 33px;
    margin-bottom: 0;
    padding-left: 7px;
    padding-right: 7px;
}

#custom-search-input button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    color: #000000;
    left: auto;
    margin-bottom: 0;
    margin-top: 7px;
    padding: 2px 5px;
    position: absolute;
    right: 0;
    z-index: 9999;
}

.search-query:focus + button {
    z-index: 3;
}

.all_conversation button {
    background: #000000 none repeat scroll 0 0;
    border: none;
    height: 38px;
    text-align: left;
    width: 100%;
}

.all_conversation i {
    background: #000e2e none repeat scroll 0 0;
    border-radius: 100px;
    color: #ffffff;
    font-size: 17px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
}

.all_conversation .caret {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 15px;
    top: 0;
}

.all_conversation .dropdown-menu {
    background: rgba(0, 0, 0, 0.84) none repeat scroll 0 0;
    margin-top: 0;
    padding: 0;
    width: 100%;
}

.all_conversation ul li {
    border-bottom: 1px solid #dddddd;
    line-height: normal;
    width: 100%;
}

.all_conversation ul li a:hover {
    background: #dddddd none repeat scroll 0 0;
    color: #333;
}

.all_conversation ul li a {
    color: #333;
    line-height: 30px;
    padding: 3px 20px;
}

.member_list .chat-body {
    margin-left: 47px;
    margin-top: 0;
}

.top_nav {
    overflow: visible;
}

.member_list .contact_sec {
    margin-top: 3px;
}

.member_list li {
    padding: 6px;
}

.chat-img img {
    height: 34px;
    width: 34px;
}

.member_list li {
    background-color: rgba(0, 0, 0, 0.49);
    border-bottom: 1px dotted #001b40;
    padding: 6px;
}

.member_list {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.sub_menu_ {
    background: #000000 none repeat scroll 0 0;
    left: 100%;
    max-width: 233px;
    position: absolute;
    width: 100%;
}

.sub_menu_ {
    background: #000000 none repeat scroll 0 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: none;
    left: 100%;
    margin-left: 0;
    max-width: 233px;
    position: absolute;
    top: 0;
    width: 100%;
}

.all_conversation ul li:hover .sub_menu_ {
    display: block;
}

.new_message_head button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}

.new_message_head {
    background: #001a34 none repeat scroll 0 0;
    float: left;
    font-size: 13px;
    font-weight: 600;
    padding: 18px 10px;
    width: 100%;
}

.message_section {
    border: 1px solid rgba(0, 0, 0, 0.59);
    background-color: rgba(255, 255, 255, 0.15);
}

.chat_area {
    float: left;
    height: 60vh;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.chat_area li {
    padding: 14px 14px 0;
}

.chat_area li .chat-img1 img {
    height: 40px;
    width: 40px;
}

.chat_area .chat-body1 {
    padding: 20px;
    margin-left: 50px;
    background-color: rgba(0, 0, 0, 0.56);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #000000 solid 4px;
}

.chat_area .admin_chat .chat-body1 {
    margin-left: 0;
    margin-right: 50px;
}

.chat_area li:last-child {
    padding-bottom: 10px;
}

.message_write {
    background: #000000 none repeat scroll 0 0;
    float: left;
    padding: 15px;
    width: 100%;
}

.message_write textarea.form-control {
    height: 70px;
    padding: 10px;
}

.chat_bottom {
    float: left;
    margin-top: 13px;
    width: 100%;
}

.sub_menu_ > li a, .sub_menu_ > li {
    float: left;
    width: 100%;
}

.member_list li:hover {
    background: #428bca none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #00397E;
    background-color: transparent;
}

.btn-default {
    color: #ffffff;
    background-color: rgba(0, 34, 101, 0.54);
    border: none;
}

.color-left-and-right-borders {
    border: thick solid rgba(0, 70, 127, 0.53);
}

.chat_time {
    color: rgba(255, 255, 255, 0.42);
}

.table .table {
    background-color: rgba(0, 0, 0, 0.69);
}

#custom-search-input .glyphicon-search {
    color: rgba(255, 255, 255, 0.47);
}