<f:layout name="Default"/>

<f:section name="Title">Messages</f:section>

<f:section name="Content">
    <h3>Messages</h3>
    <br>
    <div class="tabbable" id="tabs">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#panel-rMessages" class="btn btn-default" data-toggle="tab">
                    Received Messages: {user.receivedMessages -> f:count()}</a>
            </li>
            <li>
                <a href="#panel-sMessages" class="btn btn-default" data-toggle="tab">
                    Sent Messages: {user.sentMessages -> f:count()}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active fade in" id="panel-rMessages">
                <br>
                <ul>
                    <f:if condition="{user.receivedMessages}">
                        <f:then>
                            <f:for each="{user.receivedMessages}" as="rMessage">
                                <li>{rMessage.title}</li>
                            </f:for>
                        </f:then>
                        <f:else>
                            <li>No Received Messages</li>
                        </f:else>
                    </f:if>
                </ul>
            </div>
            <div class="tab-pane fade in" id="panel-sMessages">
                <br>
                <ul>
                    <f:if condition="{user.sentMessages}">
                        <f:then>
                            <f:for each="{user.sentMessages}" as="sMessage">
                                <li><f:link.action action="show" controller="Message" arguments="{message:sMessage}">{sMessage.title}</f:link.action></li>
                            </f:for>
                        </f:then>
                        <f:else>
                            <li>No Sent Messages</li>
                        </f:else>
                    </f:if>
                </ul>
            </div>
        </div>
    </div>

</f:section>