<f:layout name="Default"/>

<f:section name="Title">Messages</f:section>

<f:section name="Content">
    <div class="panel panel-default">

        <div class="panel-heading">
            Title: {message.title}
        </div>

        <div class="panel-body">
            {message.content -> f:format.htmlentitiesDecode() -> f:format.nl2br()}
        </div>

        <div class="panel-footer">
            <f:format.date format="H:i">{message.timestamp}</f:format.date>
        </div>

    </div>
</f:section>