<f:layout name="Default"/>

<f:section name="Title">Users</f:section>

<f:section name="Content">
    <h1>Users</h1>
    <br>
    <div class="panel panel-primary">
        <div class="panel-heading">User</div>
        <div class="panel-body">
            <f:for each="{users}" as="user">
                <div class="col-md-4">
                    <ul class="media-list">
                        <li class="media">
                            <div class="media-left">
                                <a href="#">
                                    <f:if condition="{user.profileImage}">
                                        <f:then>
                                            <img class="media-object" src="{f:uri.resource(resource: user.profileImage)}"
                                                 style="height: 50px; width: 50px">
                                        </f:then>
                                        <f:else>
                                            <img class="media-object" src="http://placehold.it/50x50">
                                        </f:else>
                                    </f:if>
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    <f:link.action action="show" controller="User" arguments="{account:user.account}">{user.name}</f:link.action>
                                </h4>
                                <b>Role:</b> {user.role}
                            </div>
                        </li>
                    </ul>
                </div>
            </f:for>
        </div>
        <div class="panel-footer">User amount: {users -> f:count()}</div>
    </div>
</f:section>