{namespace mcf=MC\Forum\ViewHelpers}

<f:layout name="Default"/>
<f:section name="Title">User - {user.name}</f:section>
<f:section name="Content">
    <div class="panel panel-info">
        <div class="panel-heading"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> - Profil: {user.name}</div>
        <div class="panel-body">
            <div class="row">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2 col-xs-12">
                            <div class="hovereffect">
                                <f:if condition="{user.profileImage}">
                                    <f:then>
                                        <div align="center">
                                            <img src="{f:uri.resource(resource: user.profileImage)}" class="img-responsive img-thumbnail">
                                            <f:if condition="{currentUser.role} == 'Administrator'">
                                                <f:then>
                                                    <div class="overlay">
                                                        <a class="info" data-toggle="modal" data-target="#pictureEdit">Bearbeiten</a>
                                                    </div>
                                                </f:then>
                                                <f:else>
                                                    <f:if condition="{user.account} == {account}">
                                                        <div class="overlay">
                                                            <a class="info" data-toggle="modal" data-target="#pictureEdit">Bearbeiten</a>
                                                        </div>
                                                    </f:if>
                                                </f:else>
                                            </f:if>
                                        </div>
                                    </f:then>
                                    <f:else>
                                        <div align="center">
                                            <a href="#pictureEdit" data-toggle="modal" data-target="pictureEdit">
                                                <div class="hovereffect">
                                                    <div class="hovereffect">
                                                        <img src="http://placehold.it/150x150" class="img-responsive img-thumbnail">
                                                        <div class="overlay">
                                                            <a class="info" data-toggle="modal" data-target="#pictureEdit">Bearbeiten</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </f:else>
                                </f:if>
                            </div>
                            <address>
                                <div align="center">
                                    <strong>{user.name}</strong><br/>
                                    <strong>{user.email}</strong><br/>
                                    <span class="label label-primary">{user.role}</span><br/>
                                </div>
                            </address>
                        </div>
                        <div class="col-md-10 col-xs-12 col-sm-12">
                            <div class="row">
                                <div class="col-md-9 col-xs-12">
                                    <h1>{user.name}
                                        <small> {user.role}</small>
                                    </h1>
                                    <div class="tabbable">
                                        <div class="btn-group btn-group-sm visible-xs" role="group" aria-label="...">
                                            <button href="#panel-foruminfo" type="button" class="btn btn-default" data-toggle="tab">Statistics
                                            </button>
                                            <button href="#panel-contact" type="button" class="btn btn-default" data-toggle="tab">Contact details
                                            </button>
                                            <button href="#panel-posts" type="button" class="btn btn-default" data-toggle="tab">Posts</button>
                                            <button href="#panel-topics" type="button" class="btn btn-default" data-toggle="tab">Topics</button>
                                        </div>
                                        <ul class="nav nav-tabs">
                                            <li class="active">
                                                <a href="#panel-foruminfo" class="btn btn-default btn-block visible-lg visible-md visible-sm"
                                                   data-toggle="tab">Statistics</a>
                                            </li>
                                            <li>
                                                <a href="#panel-contact" class="btn btn-default btn-block visible-lg visible-md visible-sm"
                                                   data-toggle="tab">Contact details</a>
                                            </li>
                                            <li>
                                                <a href="#panel-posts" class="btn btn-default btn-block visible-lg visible-md visible-sm"
                                                   data-toggle="tab">Posts</a>
                                            </li>
                                            <li>
                                                <a href="#panel-topics" class="btn btn-default btn-block visible-lg visible-md visible-sm"
                                                   data-toggle="tab">Topics</a>
                                            </li>
                                        </ul>
                                        <br>
                                        <div class="tab-content">
                                            <div class="tab-pane active fade in" id="panel-foruminfo">
                                                <br>
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <table class="table">
                                                        <tbody>
                                                        <tr class="active">
                                                            <td>
                                                                Posts:
                                                            </td>
                                                            <td>
                                                                {user.posts->f:count()}
                                                            </td>
                                                        </tr>
                                                        <tr class="">
                                                            <td>
                                                                Topics:
                                                            </td>
                                                            <td>
                                                                <f:count>{user.topics}</f:count>
                                                            </td>
                                                        </tr>
                                                        <tr class="active">
                                                            <td>
                                                                Sent messages:
                                                            </td>
                                                            <td>
                                                                <f:count>{user.sentMessages}</f:count>
                                                            </td>
                                                        </tr>
                                                        <tr class="">
                                                            <td>
                                                                Received messages:
                                                            </td>
                                                            <td>
                                                                <f:count>{user.receivedMessages}</f:count>
                                                            </td>
                                                        </tr>
                                                        <tr class="active">
                                                            <td>
                                                                Received thanks:
                                                            </td>
                                                            <td>
                                                                <f:count>{user.receivedThanks}</f:count>
                                                            </td>
                                                        </tr>
                                                        <tr class="">
                                                            <td>
                                                                Sent thanks:
                                                            </td>
                                                            <td>
                                                                <f:count>{user.sentThanks}</f:count>
                                                            </td>
                                                        </tr>
                                                        <tr class="active">
                                                            <td>
                                                                Member since:
                                                            </td>
                                                            <td>
                                                                <span title="{user.account.creationdate -> f:format.date(format: 'd.m.Y')}">
                                                                    {user.account.creationdate -> mcf:timeDiff()}
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr class="">
                                                            <td>
                                                                Last activity:
                                                            </td>
                                                            <td>
                                                                <span title="{user.account.creationdate -> f:format.date(format: 'd.m.Y')}">
                                                                    {user.lastactivity -> mcf:timeDiff()}
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade in" id="panel-contact">
                                                <br>
                                                <table class="table">
                                                    <tbody>
                                                    <tr class="active">
                                                        <td>
                                                            Name:
                                                        </td>
                                                        <td>
                                                            {user.name}
                                                        </td>
                                                    </tr>
                                                    <tr class="">
                                                        <td>
                                                            E-Mail:
                                                        </td>
                                                        <td>
                                                            {user.email}
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="tab-pane fade in" id="panel-posts">
                                                <p>
                                                    <f:if condition="{user.posts">
                                                        <f:for each="{user.posts}" as="post">
                                                            {post.title} <br>
                                                        </f:for>
                                                    </f:if>
                                                </p>
                                            </div>
                                            <div class="tab-pane fade in" id="panel-topics">
                                                <p>
                                                    <f:for each="{user.topics}" as="topic">
                                                        {topic.name} <br>
                                                    </f:for>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-12 col-xs-12">
                                    <br>
                                    <f:if condition="{currentUser} != {user}">
                                        <f:then>
                                            <button class="btn btn-primary btn-block" type="button" data-toggle="modal"
                                                    data-target="#newMessage">
                                                Nachricht
                                            </button>
                                        </f:then>
                                        <f:else>
                                            <f:link.action action="index" controller="Conversation" class="btn btn-block btn-primary">
                                                Meine Nachrichten
                                            </f:link.action>
                                        </f:else>
                                    </f:if>
                                    <f:if condition="{user.account} == {account}">
                                        <f:then>
                                            <button type="button" class="btn btn-warning btn-block">Account Bearbeiten</button>
                                            <f:link.action controller="User" action="removeUser" arguments="{user:user}"
                                                           class="btn btn-danger btn-block">Account L&ouml;schen
                                            </f:link.action>
                                        </f:then>
                                        <f:else>
                                            <f:if condition="{currentUser.role} == 'Administrator'">
                                                <button type="button" class="btn btn-warning btn-block">Account Bearbeiten</button>
                                                <f:link.action controller="User" action="removeUser" arguments="{user:user}"
                                                               class="btn btn-danger btn-block">Account L&ouml;schen
                                                </f:link.action>
                                            </f:if>
                                        </f:else>
                                    </f:if>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="pull-right">
                <div class="btn-group btn-group-xs">

                    <button class="btn btn-default" type="button">
                        <em class="glyphicon glyphicon-align-pencil"></em> Lorem
                    </button>
                    <button class="btn btn-default" type="button">
                        <em class="glyphicon glyphicon-align-left"></em> Ipsum
                    </button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <!-- ProfilePictureModal -->
    <div class="modal fade" id="pictureEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <f:form action="uploadProfileImage" object="{user}" objectName="user" enctype="multipart/form-data">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Edit Profilepicture</h4>
                    </div>
                    <div class="modal-body">
                        <f:if condition="{user.profileImage}">
                            <f:then>
                                <div class="col-md-4"></div>
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{f:uri.resource(resource: user.profileImage)}"
                                         style="width: 150px; height: 150px;"
                                         id="ppicture"
                                         alt="Profile Picture"/>
                                    <br>
                                </div>
                            </f:then>
                            <f:else>
                                <div class="col-md-4"></div>
                                <div class="col-md-6">
                                    <img class="img-responsive" src="http://placehold.it/150x150"
                                         style="width: 150px; height: 150px;"
                                         id="ppicture"
                                         alt="Profile Picture"/>
                                </div>
                            </f:else>
                        </f:if>
                        <div align="center">
                            <f:form.upload property="profileImage" id="imgInp"></f:form.upload>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <f:form.submit class="btn btn-primary" value="Save changes"></f:form.submit>
                    </div>
                </div>
            </f:form>
        </div>
    </div>
    <!-- NewMessageModal -->
    <div class="modal fade" id="newMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <f:form action="createNewMessage" controller="Message" objectName="newMessage" arguments="{receiver:user}">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="newMessageLabel">Send a Message to: <strong>{user.name}</strong></h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            Title: <br>
                            <f:form.textfield property="title" class="form-control"/>
                            <br>
                            Content: <br>
                            <f:form.textarea rows="10" property="content" class="form-control"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </f:form>
        </div>
    </div>
</f:section>