{namespace mcf=MC\Forum\ViewHelpers}
<f:layout name="Default"/>
<f:section name="Title">{topic.name}</f:section>
<f:section name="Content">
    <!--POSTS-->
    <f:for each="{topic.posts}" as="post" iteration="postIterator">
        <f:if condition="{post.mainPost}">
            <f:then>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <i class="fa fa-home" aria-hidden="true"></i>
            </f:then>
            <f:else>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-comments" aria-hidden="true"></i>
            </f:else>
        </f:if>
        {post.title}
        <div class="pull-right">vor {post.timestamp -> mcf:timeDiff()}</div>
        <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2 col-lg-2 col-xs-5">
                    <f:if condition="{post.user.profileImage}">
                        <f:then>
                            <img src="{f:uri.resource(resource: post.user.profileImage)}" width="150" height="150"
                                 class="img-responsive img-thumbnail">
                        </f:then>
                        <f:else>
                            <img src="http://placehold.it/150x150" width="150" height="150"
                                 class="img-responsive img-thumbnail">
                        </f:else>
                    </f:if>
                    <br>
                    {post.user.name}
                    <br>
                    {post.user.email}
                    <br>
                    Beitr&auml;ge: {post.user.posts -> f:count()}
                </div>
                <div class="col-md-10 col-lg-10 col-xs-7">
                    <f:format.htmlentitiesDecode>{post.content -> f:format.nl2br()}</f:format.htmlentitiesDecode>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <f:link.action action="show" controller="post" arguments="{post:post}">#{postIterator.cycle}</f:link.action>
            -
            <a class="" role="button" data-toggle="collapse" href="#thankUsers<f:format.identifier>{post}</f:format.identifier>" aria-expanded="false"
               aria-controls="thankUsers<f:format.identifier>{post}</f:format.identifier>">
                {post.thanks -> f:count()} Thanks <i class="fa fa-angle-down" aria-hidden="true"></i></a>
            <div class="pull-right">
                <div class="pull-right">
                    <div class="btn-group btn-group-xs">
                        <f:if condition="{user} != {post.user}">
                            <f:if condition="{post -> mcf:thankedPost()}">
                                <f:then>
                                    <f:link.action class="btn btn-info" action="removeThank" controller="Thank"
                                                   arguments="{post:post}">
                                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>Remove Thanks
                                    </f:link.action>
                                </f:then>
                                <f:else>
                                    <f:link.action class="btn btn-info" action="giveThank" controller="Thank"
                                                   arguments="{post:post, receiver:post.user}">
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>Thanks
                                    </f:link.action>
                                </f:else>
                            </f:if>
                        </f:if>
                        <f:if condition="{user.role} == 'Administrator'">
                            <f:then>
                                <f:link.action class="btn btn-danger" action="delPost" controller="post"
                                               arguments="{post:post}">
                                    <i class="fa fa-trash" aria-hidden="true"></i> Delete
                                </f:link.action>

                                <button class="btn btn-warning" type="button" data-toggle="modal"
                                        data-target="#<f:format.identifier>{post}</f:format.identifier>">
                                    <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                                </button>
                            </f:then>
                            <f:else>
                                <f:if condition="{user} == {post.user}">
                                    <f:then>
                                        <f:link.action class="btn btn-danger" action="delPost" controller="post"
                                                       arguments="{post:post}">
                                            <i class="fa fa-trash" aria-hidden="true"></i> Delete
                                        </f:link.action>
                                        <button class="btn btn-warning" type="button" data-toggle="modal"
                                                data-target="#<f:format.identifier>{post}</f:format.identifier>">
                                            <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                                        </button>
                                    </f:then>
                                </f:if>
                            </f:else>
                        </f:if>
                    </div>
                </div>
            </div>
            <!--Thanked User Collapse-->
            <div class="collapse" id="thankUsers<f:format.identifier>{post}</f:format.identifier>">
                <f:for each="{post.thanks}" as="thank">
                    <f:link.action action="show" arguments="{account:thank.creator.account}" controller="User">{thank.creator.name}</f:link.action>
                    ,
                </f:for>
            </div>
        </div>
        <br><br>
    </f:for>
    <div class="panel panel-default">
        <div class="panel-heading">Comment</div>
        <div class="panel-body">
            <f:form action="createPost" objectName="newPost" arguments="{topic:topic}">
                Title:
                <f:form.textfield property="title" class="form-control"/>
                <br>
                Comment:
                <f:form.textarea property="content" rows="10" class="form-control"/>
                <br>
                <div align="center">
                    <button class="btn btn-danger" type="reset"><i class="fa fa-undo" aria-hidden="true"></i></button>
                    <button class="btn btn-success" type="submit"> Submit <i class="fa fa-check" aria-hidden="true"></i></button>
                </div>
            </f:form>
        </div>
    </div>
    <!-- EditPostModal -->
    <f:for each="{topic.posts}" as="post">
        <div class="modal fade" id="<f:format.identifier>{post}</f:format.identifier>" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Edit Post</h4>
                    </div>
                    <f:form action="editPost" objectName="post" object="{post}" controller="post"
                            arguments="{post:post}">
                        <div class="modal-body">
                            <div class="form-group">
                                Title: <br>
                                <f:form.textfield property="title" class="form-control"/>
                                <br>
                                Content: <br>
                                <f:form.textarea rows="10" property="content" class="form-control"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Save changes <i class="fa fa-check" aria-hidden="true"></i></button>
                        </div>
                    </f:form>
                </div>
            </div>
        </div>
    </f:for>
</f:section>