<f:layout name="Default"/>

<f:section name="Title">NewTopic</f:section>

<f:section name="Content">
    <f:form action="createTopic" objectName="newPostTopic" arguments="{subforum:subforum}">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Create a new topic</h3>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    Title: <br>
                    <f:form.textfield property="title" class="form-control"/>
                    <br>
                    Content: <br>
                    <f:form.textarea rows="10" property="content" class="form-control"/>
                </div>
            </div>

        </div>
        <div align="right">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </f:form>
</f:section>