{namespace mcf=MC\Forum\ViewHelpers}

<f:layout name="Default"/>

<f:section name="Title">{topic.name}</f:section>

<f:section name="Content">
    <f:if condition="{post.mainPost}">
        <f:then>
            <div class="panel panel-info">
        </f:then>

        <f:else>
            <div class="panel panel-primary">
        </f:else>
    </f:if>

    <div class="panel-heading">
        {post.title}
        <div class="pull-right">vor {post.timestamp -> mcf:timeDiff()}</div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2 col-lg-2 col-xs-5">
                <img src="http://placehold.it/200x200" width="200" height="200" class="img-responsive img-thumbnail">
                <br>
                {post.user.name}
                <br>
                {post.user.email}
                <br>
                Beitr&auml;ge: {post.user.posts -> f:count()}
            </div>
            <div class="col-md-10 col-lg-10 col-xs-7">
                {post.content->f:format.nl2br()}
            </div>
        </div>
    </div>
    <div class="panel-footer">
        #
        <div class="pull-right">
            <div class="pull-right">
                <div class="btn-group btn-group-xs">

                    <f:link.action class="btn btn-default" action="delPost" controller="post"
                                   arguments="{post:post}">
                        <em class="glyphicon glyphicon-remove"></em> Delete
                    </f:link.action>

                    <button class="btn btn-default" type="button" data-toggle="modal"
                            data-target="#<f:format.identifier>{post}</f:format.identifier>">
                        <em class="glyphicon glyphicon-align-left"></em> Edit
                    </button>
                </div>
            </div>
        </div>
    </div>
</f:section>