{namespace mcf=MC\Forum\ViewHelpers}

<f:layout name="Default"/>

<f:section name="Title">Startseite</f:section>
<f:section name="Username">{username}</f:section>

<f:section name="Content">
    <div class="col-md-12">
        <div class="row">
            <br>
            <div class="col-md-9">
                <f:for each="{forums}" as="forum">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">{forum.name}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="table">
                                <table class="table table-condensed">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Topic Anzahl</th>
                                        <th>Letzter Topic</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <f:for each="{forum.subforums}" as="subforum">
                                        <tr>
                                            <td>
                                                <f:link.action action="index" controller="subforum"
                                                               arguments="{subforum : subforum}">
                                                    {subforum.name}
                                                </f:link.action>
                                            </td>
                                            <td>
                                                <f:count>{subforum.topics}</f:count>
                                            </td>
                                            <td>
                                                <f:for each="{subforum.topics}" as="topic" iteration="topicIterator">
                                                    <f:if condition="{topicIterator.isFirst}">
                                                        vor {topic.timestamp -> mcf:timeDiff()}
                                                    </f:if>
                                                </f:for>
                                            </td>
                                        </tr>
                                    </f:for>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </f:for>
            </div>
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">My Information</div>
                    <div class="panel-body" align="center">
                        <f:if condition="{user.profileImage}">
                            <f:then>
                                <div align="center">
                                    <img src="{f:uri.resource(resource: user.profileImage)}" class="img-responsive img-thumbnail"
                                         width="150dpx"
                                         height="150dpx">
                                </div>
                            </f:then>
                            <f:else>
                                <div align="center">
                                    <img src="http://placehold.it/150x150" class="img-responsive img-thumbnail">
                                </div>
                            </f:else>
                        </f:if>
                        {user.name}
                        <br>
                        {user.email}
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Latest Posts</div>
                    <div class="panel-body">
                        <f:if condition="{posts}">
                            <f:then>
                                <f:for each="{posts}" as="post">
                                    <f:link.action action="show" arguments="{post:post}" controller="Post">
                                        {post.title}
                                    </f:link.action>
                                    <br>
                                </f:for>
                            </f:then>
                            <f:else>
                                - No Posts -
                            </f:else>
                        </f:if>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Latest Topics</div>
                    <div class="panel-body">
                        <f:if condition="{topics}">
                            <f:then>
                                <f:for each="{topics}" as="topic">
                                    <f:link.action controller="Topic" arguments="{topic:topic}" action="index">
                                        {topic.name}
                                    </f:link.action>
                                    <br>
                                </f:for>
                            </f:then>
                            <f:else>
                                - No Topics -
                            </f:else>
                        </f:if>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Statistics</div>
                    <div class="panel-body" align="center">
                        <div class="col-md-3"><h4><span class="label label-default">{users -> f:count()}</span> Users</h4></div>
                        <div class="col-md-3"><h4><span class="label label-default">{posts -> f:count()}</span> Posts</h4></div>
                        <div class="col-md-3"><h4><span class="label label-default">{topics -> f:count()}</span> Topics</h4></div>
                        <div class="col-md-3"><h4><span class="label label-default">{lastUser.name}</span> Newest Member</h4></div>
                    </div>
                </div>
            </div>
        </div>
</f:section>
