<!--
  ~ Copyright (c) Michel Ferreira Ribeiro 2016
  -->

<f:layout name="Default" />

<f:section name="Title">User-CP</f:section>

<f:section name="Content">
    <h1>User-CP</h1>
    <p>Some data set by the controller:</p>
</f:section>